* {box-sizing: border-box;}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    text-align: center;
    color: grey;
    min-width: 200px;
}

.intro {
    background-image: url(../img/cat.jpg);
    background-color: gray;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
}

.content {
    padding: 0 2em;
    margin-bottom: 2em;
}

/* ========== typography both screens ========= */
.intro-small-title,
.content-small-txt {
	font-size: .625rem;
}

h1 {
    color: white;
}

.intro-subtitle,
.intro-small-title,
h3 {
    color: orange;
    font-weight: 900;
}

h2 {
    color: gray;
}

h1 {
    font-weight: 300;
}

h2,
h3,
strong {
    font-weight: 900;
}

.intro-small-title,
.intro-subtitle,
.content-subtitle {
    text-transform: uppercase;
}

.intro-small-title {
    margin-top: 0;
}

.intro-small-title::before {
    content: "";
    display: block;
    width: 130px;
    background: orange;
    height: 3px;
    margin: 0 auto;
}

.form {
    margin: 0 auto;
}

.input,
.btn {
    margin-bottom: 1.2em;
    padding: .5em;
    text-align: center;
    font-family: inherit;
    width: 80%;
    cursor: pointer;
    border-radius: 2px;
    border: solid grey 1px;
}

.btn {
    background-color: orange;
    border: none;
    color: white;
    font-weight: 900;

}

.btn:hover,
.btn:focus {
    background-color: hotpink;
}

/* ========== typography small screen ========= */
h1 {
	font-size: 2.25rem;
}

h2,
.intro-subtitle {
	font-size: 1.3125rem;
}

body {
    font-size: 1rem;
}

.content-subtitle {
    margin-bottom: 0;
}

/* *************************************************** */

@media (min-width: 600px) {

/* ========== typography big screen ========= */
h1 {
	font-size: 3.5rem;
    margin: 0;
}

h2,
.intro-subtitle {
	font-size: 1.75rem;
    margin: 0;
}

body {
	font-size: 1.125rem;
}

/* ========== layout big screen ========= */
.flex {
    display: flex;
    justify-content: center;
}

.flex > * {
    max-width: 600px;
}

.intro {
    width: 55vw;
    min-height: 100vh;
}

.content {
    width: 45vw;
    padding: 1.5em;
}

.content,
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form {
    width: 100%;
}

.intro-small-title::before {
    content: none;
}
}